
@import url(https://fonts.googleapis.com/css?family=Alegreya:900|Montserrat:700);

.logo {
  /* margin:10px; */
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
	display: flex;
	justify-content: center;
	font-family: 'Alegreya', serif;
	font-size: calc(1em + 4rem);
	color: #fff;
	/* height: 900vh; */
	/* overflow: hidden; */
}


/* Shadows of the letters */
.letter {
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-shadow: 0 0.004em #000,
				 0.004em 0 grey,
				 0.004em 0.008em #000,
				 0.008em 0.004em grey,
				 0.008em 0.012em #000,
				 0.012em 0.008em grey,
				 0.012em 0.016em #000,
				 0.016em 0.012em grey,
				 0.016em 0.020em #000,
				 0.020em 0.016em grey,
				 0.020em 0.024em #000,
				 0.024em 0.020em grey,
				 0.024em 0.028em #000,
				 0.028em 0.024em grey,
				 0.028em 0.032em #000,
				 0.032em 0.028em grey,
				 0.032em 0.036em #000,
				 0.036em 0.032em grey,
				 0.036em 0.040em #000,
				 0.040em 0.036em grey,
				 0.040em 0.044em #000,
				 0.044em 0.040em grey,
				 0.044em 0.048em #000,
				 0.048em 0.044em grey,
				 0.048em 0.052em #000,
				 0.052em 0.048em grey,
				 0.052em 0.056em #000,
				 0.056em 0.052em grey,
				 0.056em 0.060em #000,
				 0.060em 0.056em grey,
				 0.060em 0.064em #000,
				 0.064em 0.060em grey,
				 0.064em 0.068em #000,
				 0.068em 0.064em grey,
				 0.068em 0.072em #000,
				 0.072em 0.068em grey,
				 0.072em 0.076em #000,
				 0.076em 0.072em grey,
				 0.076em 0.080em #000,
				 0.080em 0.076em grey,
				 0.080em 0.084em #000,
				 0.084em 0.080em grey,
				 0.084em 0.088em #000,
				 0.088em 0.084em grey,
				 0.088em 0.092em #000,
				 0.092em 0.088em grey,
				 0.092em 0.096em #000,
				 0.096em 0.092em grey,
				 0.096em 0.100em #000,
				 0.100em 0.096em grey,
				 0.100em 0.104em #000,
				 0.104em 0.100em grey,
				 0.104em 0.108em #000,
				 0.108em 0.104em grey,
				 0.108em 0.112em #000,
				 0.112em 0.108em grey,
				 0.112em 0.116em #000,
				 0.116em 0.112em grey,
				 0.116em 0.120em #000,
				 0.120em 0.116em grey,
				 0.120em 0.124em #000,
				 0.124em 0.120em grey,
				 0.124em 0.128em #000;
	-webkit-text-stroke-color: #000;
	-webkit-text-stroke-width: 0.010em;
}

/* letter 1 to letter 6  is "position ""*/
.letter-1 {
	transform: rotate(-2deg);
  margin-left: 1em;
}

.letter-2 {
	/* top: 0.132em; */
  top: 0.240em;
	/* margin-left: -0.3em; */
	transform: rotate(1deg);
}

.letter-3 {
	/* margin-left: 0.1em; */
}

.letter-4 {
	/* margin-left: 0.05em; */
  	transform: rotate(-0.3deg);
}

.letter-5 {
	/* margin-left: -0.01em; */
	z-index: -1;
}

.letter-6 {
	top: 0.136em;
	/* margin-left: -0.1em; */
	transform: rotate(3deg);
}
/* When you hover on the logo */
.logo:hover {
  -webkit-transform: rotate(1deg) scale(1.01);
  -moz-transform: rotate(1deg) scale(1.01);
  -o-transform: rotate(1deg) scale(1.01);
  -ms-transform: rotate(1deg) scale(1.01);
  transform: rotate(1deg) scale(1.01);
}

    .logincontainer {
      font-family: 'Montserrat', sans-serif;
      color: #e70040;
    }

/*The letters are inside the header  */
    .header {
      display: block;
      margin-bottom:39rem;
      margin-right: -39rem;
    }


/*Login sign in form  */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  background-color: #F09819;
  /* background-image: url("../images/dollar.jpg"); */
  /* background-size: 550px; */
}

.formContainer {
  width: 800px;
  height: 400px;
  border-radius: 10%;
  border-radius: 3px solid #dddddd;
  /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1); */
}

.formWrapper {
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  transition: width 0.5s, background-color 0.5s;
  border-radius: 30%;
}
.formWrapperLogin {
  width: 75%;
  background-color: #ffffff;
}
.signup_active .formWrapperLogin {
  width: 25%;
  background-color: black;
  cursor: pointer;

}
.formWrapperSignup {
  width: 25%;
  background-color: black;
  cursor: pointer;

}
.signup_active .formWrapperSignup {
  width: 75%;
  background-color: #ffffff;
  cursor: default;
}

.formTitle {
  font-size: 40px;
  font-weight: 200;
  position: absolute;
  text-align: center;
  transition: all 0.5s;
}
.formTitleLogin {
  width: 0;
  top: 50px;
  left: 60px;
  color: black;
}
.signup_active .formTitleLogin {
  width: 100%;
  top: 50%;
  left: 0;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.formTitleSignup {
  width: 100%;
  top: 50%;
  left: 0;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.signup_active .formTitleSignup {
  width: 0;
  color:black;
  top: 50px;
  left: 60px;
  -webkit-transform: none;
          transform: none;
}

.form {
  position: absolute;
  top: 110px;
  left: 60px;
  transition: opacity 0.5s, -webkit-transform 0.5s;
}
.signup_active .formLogin {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  opacity: 0;
}
.formSignup {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  opacity: 0;
}
.signup_active .formSignup {
  -webkit-transform: none;
          transform: none;
  opacity: 1;

}

.formInputContainer {
  padding: 15px 0;
}

.formInputWrapper {
  width: 350px;
  position: relative;
}
.formInputWrapper .formInput {
  width: 100%;
}

.formInput {
  width: 350px;
  padding: 10px 25px;
  border: 1px solid #dddddd;
  font-family: Montserrat, sans-serif;
  box-shadow: 0 2px 16px 0 #F09819;
  outline: none;
  border-radius: 35%;
}
.formInput::-webkit-input-placeholder {
  color: #7f848c;
}
.formInput::-moz-placeholder {
  color: #7f848c;
}
.formInput:-ms-input-placeholder {
  color: #7f848c;
}
.formInput:-moz-placeholder {
  color: #7f848c;
}

.formButton {
  padding: 15px 100px;
  position: relative;
  background: transparent;
  border: 1px solid #dddddd;
  font-family: Montserrat, sans-serif;
  color: black;
  text-transform: uppercase;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 35%;
}
.formButton:hover {
  color: #F09819;
  border-color: #F09819;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
}

.formInputShow {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  color: black;
  font-weight: 300;
  cursor: pointer;
}
